{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Shop App</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding mx-auto ">
        <div class="container">
            <div class="row ">
                <div class="col-lg-3">
                    <div class="job_filter white-bg">
                        <div class="form_inner white-bg">
                            <h3>Filter</h3>
                            <form method = "GET">

                                {% bootstrap_form myfilter.form %} 
                                <input type = "submit" value = "Sreath" class = "boxed-btn3 w-100 mt-2">
                            </form>
                        </div>


                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="recent_joblist_wrap">
                        <div class="recent_joblist white-bg ">
                            <div class="row align-items-center">
                                <div class="col-md-6 ">
                                    <h4>Employees List</h4>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="job_lists m-0">
                        <div class="row">
                        {% for acc in employees %}
                            {% if acc.user.is_superuser %}

                            {% else %}
                            <div class="col-lg-12 col-md-12">
                                <div style="padding:50px" class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="">
                                            <img src="{{acc.image.url}}"  width=100px style="margin-right:20px" alt="">
                                        </div>
                                        <div class="jobs_conetent">
                                            <a href="{% url 'accounts:employee' acc.id %}"><h4>{{acc.user}}</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class=""></i>{{acc.phone}}</p>
                                                </div>                              
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="jobs_right">
                                        <div class="apply_now">

                                                {% comment %} <a href="" class="boxed-btn3">Edit</a> {% endcomment %}

                                            <a class="boxed-btn3"  href="{% url 'accounts:delete_employee' acc.id %}">Delete</a>

                                        </div>

                                        {% comment %} <div class="date">
                                            <p>Date Line: </p>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                         {% endfor %}
                         
                    
                        </div>

                        
                        {% if employees.has_other_pages %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="pagination_wrap">
                                        <ul>
                                        {% if employees.has_previous %}
                                            <li><a href="?page={{employees.previous_page_number}}"> <i class="ti-angle-left"></i> </a></li>
                                        {% endif %}

                                        {% for i in employees.paginator.page_range %}
                                            <li><a href="?page={{i}}"><span>{{i}}</span></a></li>
                                        {% endfor %}

                                        {% if employees.has_next %}
                                            <li><a href="?page={{employees.next_page_number}}"> <i class="ti-angle-right"></i> </a></li>
                                        {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    

                </div>
                <div class="col-lg-3 job_details_area container " style="padding-top:0px">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Add Employee</h3>
                        </div>
                        <div class="job_content">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% bootstrap_form empform %} 
                                {% buttons %}
                                     <button class="boxed-btn3 w-100" type="submit">Post Now</button>
                                {% endbuttons %}     
    
                            </form>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->
{% endblock body %}