{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{products}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area mx-auto" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">

                                    <img src="{{products.image.url}}" , width=100px style="margin-right:10px" alt="">
                              
                                <div class="jobs_conetent">
                                    <a href="#"><h4>{{products.title}}</h4></a>
                                    <div class="links_locat d-flex align-items-center">
    
                                        <div class="location">
                                            <p> <i class=""></i> {{products.price}} S.B</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="" style="">
                                    <div class="apply_now " style="padding-top:5px "  >
                                        <a href="{% url 'products:update_product' products.id %}" class="boxed-btn3">Edit</a>
                                        <a class="brn brn-outline-primary boxed-btn3"  href="{% url 'products:delete_product' products.id %}">Delete</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Product Title</h4>
                            <p>{{products.description2}}</p>
                        </div>
   
                        <div class="single_wrap">
                            <h4>Product Description</h4>
                            <p>{{products.description}}</p>
                        </div>
   
                    </div>

                </div>
                
                    <div class="job_location_wrap">
                        <div class="job_lok_inner">
                            <div id="map" style="height: 200px;"></div>
                            <script>
                              function initMap() {
                                var uluru = {lat: -25.363, lng: 131.044};
                                var grayStyles = [
                                  {
                                    featureType: "all",
                                    stylers: [
                                      { saturation: -90 },
                                      { lightness: 50 }
                                    ]
                                  },
                                  {elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}
                                ];
                                var map = new google.maps.Map(document.getElementById('map'), {
                                  center: {lat: -31.197, lng: 150.744},
                                  zoom: 9,
                                  styles: grayStyles,
                                  scrollwheel:  false
                                });
                              }
                              
                            </script>
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>
                            
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}



